*, *::before, *::after {
  margin: 0;
  padding: 0;
}
body {
  padding: 40px;
  box-sizing: border-box;
}

.c-hamburger-button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 8px;
  margin: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline-offset: 4px;
}
.c-hamburger-button__inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.c-hamburger-button__icon {
  fill: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  &.-bars {
    .c-hamburger-button[aria-expanded="false"] & {
      opacity: 1;
      visibility: visible;
    }
  }
  &.-close {
    .c-hamburger-button[aria-expanded="true"] & {
      opacity: 1;
      visibility: visible;
    }
  }
}

.c-hamburger-menu {
  display: none;
  background-color: #333;
  margin-top: 16px;
  padding: 16px;
}
.c-hamburger-menu__list {
  list-style: none;
}
.c-hamburger-menu__item {
  &:not(:first-child) {
    margin-top: 8px;
  }
}
.c-hamburger-menu__link {
  color: #fff;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}